.app-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.app-btn:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.app-btn.active {
  color: var(--accent-color);
  text-decoration: underline;
}

.btn-burger {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid var(--text-color);
  border-radius: 50%;
  padding: 0.25rem 0.25rem;
}

.btn-burger:hover {
  border: 2px solid var(--accent-color);
}

.burger-menu-header .btn-close {
  grid-column: 3;
  justify-self: end;
}

@media (min-width: 768px) {
  .btn-burger {
    display: none;
  }
}
