.burger-menu-container {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.burger-menu-container.active {
  display: block;
  animation: fadeIn 0.5s ease;
}

.burger-menu {
  background-color: var(--burger-color);
  position: fixed;
  top: calc(100px + 2rem);
  bottom: calc(var(--footer-height) + 2rem);
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 0.5rem solid var(--accent-color);
  border-radius: 2rem;
  width: calc(100% - 4rem);
  max-width: 768px;
}

.burger-menu-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.burger-menu-title {
  color: var(--accent-color);
  grid-column: 2;
}

.burger-menu-body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.burger-menu-body ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
}
