.home-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;
}

.img-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid var(--accent-color);
}

.img-container img {
  display: block;
  width: 100%;
  height: 100%;
}

.home-header .name {
  font-size: 1rem;
  font-weight: bold;
}

.home-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  padding: 2rem 0;
  text-align: center;
}

@media (min-width: 768px) {
  .home-header {
    gap: 2rem;
  }

  .img-container {
    width: 150px;
    height: 150px;
  }

  .home-header .name {
    font-size: 2rem;
  }

  .home-bottom {
    padding: 2rem 2rem;
  }
}

@media (min-width: 1024px) {
  .home-header {
    gap: 3rem;
  }

  .img-container {
    width: 300px;
    height: 300px;
  }

  .home-header .name {
    font-size: 3rem;
  }

  .home-bottom {
    padding: 2rem 4rem;
  }
}
