.resume-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 0 1rem;
}

.skill {
  border: 2px solid var(--accent-color);
  height: 250px;
  color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  border-radius: 3rem;
  transition: all 0.3s ease;
}

.skill:hover {
  color: var(--background-color);
  background-color: var(--accent-color);
  cursor: pointer;
  margin: 0;
}

@media (min-width: 768px) {
  .resume-container {
    gap: 2rem;
    padding: 0 2rem;
  }

  .skill {
    margin: 1.75rem;
    border-radius: 3.5rem;
  }
}

@media (min-width: 1024px) {
  .resume-container {
    gap: 3rem;
    padding: 0 3rem;
  }

  .skill {
    margin: 1.5rem;
    border-radius: 4rem;
  }
}
